.container {
  background: black;
  min-height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
}

.container .loading {
  text-align: center;
  color: white;
  font-size: 25px;
  position: absolute;
  top: 300px;
  width: 100%;
}

.loading img {
  width: 100px;
  margin: 0 20px 0 0;
  vertical-align: middle;
}

.container .pic-container {
  display: flex;
  flex-wrap: wrap;
}

.container .pic-block {
  flex-grow: 1;
  margin: 2px;
  height: 200px;
}

.pic-block img {
  height: 200px;
  object-fit: cover;
  max-width: 100%;
  min-width: 100%;
  vertical-align: bottom;
  filter: grayscale(70%);
}

.hidden {
  display: none;
}

@keyframes dialog-scale-start {
  0% {
    opacity: .5;
    transform: scale(1.15);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes message-move-in {
  0% {
    left: -500px;
  }

  25% {
    left: -500px;
  }

  100% {
    left: 0;
  }
}

.dialog {
  position: fixed;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

.dialog .modal-sm {
  right: 0;
  left: 0;
  margin: 10% auto 50px;
  padding: 0;
  z-index: 100;
  border-radius: 3px;
  display: inline-block;
  overflow-x: hidden;
}

.show-dialog {
  display: block;
  text-align: center;
}

.dialog .modal-sm {
  animation: dialog-scale-start .3s ease-in-out forwards;
}

.dialog .image-container {
  padding: 10px;
  background: white;
  display: inline-block;
  box-shadow: 0 0 8px rgba(0, 0, 0, .3);
  vertical-align: middle;
}

.image-container .user-image {
  height: 300px;
}

.dialog .message {
  display: inline-block;
  background: rgba(255, 255, 255, .9);
  padding: 30px;
  box-sizing: border-box;
  width: 500px;
  color: #444;
  text-align: left;
  margin-left: -10px;
  z-index: -1;
  position: relative;
  animation: message-move-in 1s ease-in-out forwards;
}

.message h2 {
  margin: 0;
  font-size: 2em;
}

.message p {
  margin: 10px 0 0;
  font-weight: 500;
  font-size: 1.5em;
}

.message-link {
  position: fixed;
  bottom: 50px;
  left: 0;
  display: inline-block;
  padding: 15px;
  background: #FF8260;
  color: white;
  text-decoration: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  font-family: 'Noto Sans Kannada', sans-serif;
}

@media screen and (max-width: 576px) {
  .image-container .user-image {
    width: 100%;
    height: auto;
  }

  .dialog .message {
    width: 100%;
  }
}
