@import '../stylesheets/vars.scss';

.message-link {
  position: fixed;
  bottom: 50px;
  left: 0;
  display: inline-block;
  padding: 15px;
  background: $orange;
  color: white;
  text-decoration: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  font-family: 'Noto Sans Kannada', sans-serif;
  z-index: 10;
}

.game-link {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  background: black;
  text-decoration: none;
  cursor: pointer;
  color: white;
  justify-content: center;
  font-family: 'Noto Sans Kannada', sans-serif;
  z-index: 10;
}
